

// Cookie compliance
// --------------------------------------------------

// Info block

.calibr8-cookie-compliance-info {
  z-index: 99;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem 0;
  background: $color-white;
}

.calibr8-cookie-compliance-info__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calibr8-cookie-compliance-info__consent {
  margin-right: 1rem;
  a {
    margin: 0;
  }
}

.calibr8-cookie-compliance-info__noconsent {
  a {
    color: $color-text;
    @include font-size(14);
  }
}

@include bp(md) {
  .calibr8-cookie-compliance-info__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .calibr8-cookie-compliance-info__text {
    flex: 1 1 200px;
    width: 200px;
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .calibr8-cookie-compliance-info__button-wrapper {
    flex: 0 1 360px;
    width: 360px;
    justify-content: flex-end;
  }
}

// Blocks

.block-calibr8-cookie-compliance {
  margin-bottom: $default-block-margin-bottom;
}

// Status block

.calibr8-cookie-compliance-status__text {
  p:last-child {
    margin-bottom: 0;
  }
}
.calibr8-cookie-compliance-status__label {
  font-weight: 800;
}

// Delete block

.calibr8-cookie-compliance-delete__text {
  p:last-child {
    margin-bottom: 0;
  }
}
.calibr8-cookie-compliance-delete__button {
  a {
    color: $color-error;
  }
}